cert {
    display: flex; /* Set display to flex */
    flex-direction: column; /* Display in columns */
    align-items: center;
}

.cert{
    background-color: #0A1C2B;
    height: 50px;
    display: flex; /* Set display to flex */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    color: rgb(70, 203, 221);
    width: 50%px;
    margin-right: 70px;
    margin-left:40px;

}
.content{
    display: inline;
}
